/* fullscreen without scroll */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 100vh;
}

/* newModal */

#newModal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

input[type=file] {
    width: 0;
    height: 0;
    position: absolute;
}
input[type=file] + label {
    background-color: white;
    cursor: pointer;
}
input[type=file]:focus + label {
    outline: invert;
}

/* note browser */
.browser {
    flex: 1;
    background-color: var(--neutral-highlight);
    overflow: auto;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 2em;
    padding: 1em;
}
.browser > button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--neutral-background);
    border: unset;
    padding: unset;
    font-family: unset;
    font-size: unset;
    color: var(--neutral-foreground);
}
.browser > button > .thumbnail {
    flex: 1;
}
.browser > button > div {
    display: flex;
    color: var(--primary-foreground);
    background-color: var(--primary);
    justify-content: space-between;
    align-self: right;
}
.browser > button > div > div {
    display: flex;
}
/* editor */
.editor {
    display: none;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
}
.editor > .note {
    flex: 1;
}

.videoEditor {
    display: flex;
    flex-wrap: wrap;
}
.videoEditor > .veditor {
    flex: 1;
    min-width: 20em;
}
.videoEditor > .veditor > textarea {
    resize: none;
    height: 100%;
}
.videoEditor > div {
    display: flex;
    flex-direction: column;
    min-width: 75vw;
    flex: 1;
}

.videoEditor > .wrapper > .timeline {
    display: flex;
}
.videoEditor > .wrapper > .timeline > div {
    display: flex;
    overflow-x: scroll;
}
.videoEditor > .wrapper > .timeline > .thumbnails > .thumbnailz.active {
    background-color: var(--primary)
}
