/* fullscreen without scroll */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 100vh;
}



/* todo standardize button looks */
#newModalOpenButton {
    background-color: var(--primary-highlight);
    border: var(--very-bright) solid;
    border-radius: 2em;
    /* todo don't use relative percents instead use font sizes like 5em */
    width: 5%;
    height: 35%;
    transition-duration: .4s;
}

#newModalOpenButton:hover {
    background-color: var(--very-bright);
}

/* newModal */

#newModal > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

input[type=file] {
    width: 0;
    height: 0;
    position: absolute;
}
input[type=file] + label {
    background-color: white;
    cursor: pointer;
}
input[type=file]:focus + label {
    outline: invert;
}

/* note browser */
.browser {
    flex: 1;
    background-color: var(--neutral-highlight);
    overflow: auto;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 2em;
    padding: 1em;
}
.browser > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-background);
}
.browser > .card > video {
    width: 100%;
    height: auto;
}
.browser > .card > div {
    display: flex;
    color: var(--primary-foreground);
    background-color: var(--primary);
    justify-content: space-between;
    width: 100%;
}
.browser > .card > div > div {
    display: flex;
}
/* .browser > .item ?? */
.item > section {
    display: flex;
}
.item > section > div {
    height: auto;
}
.item > header {
    justify-content: flex-end;
}


