#newModal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.browser {
    flex-basis: 100%;
    background-color: var(--neutral-highlight);
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 2em;
    padding: 1em;
}
.browser > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--neutral-background);
}
.browser > div > video {
    width: 100%;
    height: auto;
}
.item > section {
    display: flex;
}
.item > section > div {
    height: auto;
}
.item > header {
    justify-content: flex-end;
}
input[type=file] {
    width: 0;
    height: 0;
    position: absolute;
}
input[type=file] + label {
    background-color: white;
    cursor: pointer;
}
input[type=file]:focus + label {
    outline: invert;
}
.thumbnail {
    box-shadow: 0em 1em 1em -.5em var(--neutral);
    border-radius: 0.5em;
    transition: 50ms linear;
}
.thumbnail:hover, .thumbnail:focus {
    box-shadow: 0em 1em 1em -.5em var(--primary);
    transform: translate(0, -0.5em) scale(1.01);
    transition: 50ms linear;
}
.thumbnail:active {
    box-shadow: inherit;
}
.thumbnail > div {
    display: flex;
    color: var(--primary-foreground);
    background-color: var(--primary);
    justify-content: space-between;
    width: 100%;
}
.thumbnail > div > div {
    display: flex;
}
