:root {
    --font: tahoma, serif;
    
    
    /* colors */    
    --primary-background: black;
    --primary-lowlight: #051367;
    --primary: #2D31FA;
    --primary-highlight: #5D8BF4;
    --primary-foreground: white;

    --neutral-foreground: black;
    --neutral-lowlight: darkgray;
    --neutral: gray;
    --neutral-highlight: lightgray;
    --neutral-background: white;
    
    --danger: red;
}
h1, h2, h3, h4, h5, h6, p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body {
    font-family: var(--font);
    color: var(--neutral-foreground);
    background-color: var(--neutral-background);
}
header {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--primary-lowlight);
    color: var(--neutral-background);
    box-shadow: 0em .5em 1.5em -.5em var(--neutral);   
}
/* todo use padding instead? and move to index.css */
.logo {
    max-height: 4em;
    padding: 1em;
}


footer {
    margin-top: auto;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
button.icon {
    font-size: 2em;
    border: none;
    color: var(--primary-foreground);
    background-color: var(--primary);
}
button.icon:hover {
    background-color: var(--primary-highlight);
}
button.icon.danger:hover {
    background-color: var(--danger);
}
.card {
    box-shadow: 0em 1em 1em -.5em var(--neutral);
    border-radius: var(--shadow);
    transition: 30ms linear;
}
.card:hover, .card:focus {
    box-shadow: 0em 1em 1em -.5em var(--primary);
    transform: translate(0, -0.5em) scale(1.01);
    transition: 30ms linear;
    outline: 0;
}
.card:active {
    box-shadow: inherit;
}
