

:root {
    --primary-background: black;
    --primary-lowlight: #051367;
    --primary: #2D31FA;
    --primary-highlight: #5D8BF4;
    --very-bright: #DFF6FF;
    --primary-foreground: white;

    --neutral-foreground: black;
    --neutral-lowlight: darkgray;
    --neutral: gray;
    --neutral-highlight: lightgray;
    --neutral-background: white;
    
    --danger: red;


    
    --font: tahoma, serif;
}
h1, h2, h3, h4, h5, h6, p {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body {
    font-family: var(--font);
    color: var(--neutral-foreground);
    background-color: var(--neutral-background);
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 100vh;
}
header {
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-lowlight);
    color: var(--neutral-background);
    box-shadow: 0em .5em 1.5em -.5em var(--neutral);
    padding-left: 1%;
    padding-right: 1%;
    max-height: 10%;
    
}

.logo {
    max-height: 50%;
}


/* todo standardize button looks */
#newModalOpen {
    background-color: var(--primary-highlight);
    border: var(--very-bright) solid;
    border-radius: 2em;
    /* todo don't use relative percents instead use font sizes like 5em */
    width: 5%;
    height: 35%;
    transition-duration: .4s;
}

#newModalOpen:hover {
    background-color: var(--very-bright);
}


footer {
    margin-top: auto;
}
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    z-index: 1;
}
button.icon {
    font-size: 2em;
    border: none;
    color: var(--primary-foreground);
    background-color: var(--primary);
}
button.icon:hover {
    background-color: var(--primary-highlight);
}
button.icon.danger:hover {
    background-color: var(--danger);
}
.card {
    box-shadow: 0em 1em 1em -.5em var(--neutral);
    border-radius: var(--shadow);
    transition: 30ms linear;
}
.card:hover, .card:focus {
    box-shadow: 0em 1em 1em -.5em var(--primary);
    transform: translate(0, -0.5em) scale(1.01);
    transition: 30ms linear;
    outline: 0;
}
.card:active {
    box-shadow: inherit;
}
