:root {
    --background: lightgray;
    --header: darkgray;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--header);
}
.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    align-items: center;
    justify-content: center;
}
#newModal > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
input[type=file] {
    width: 0;
    height: 0;
    position: absolute;
}
input[type=file] + label {
    background-color: white;
    cursor: pointer;
}
input[type=file]:focus + label {
    outline: invert;
}
.browser {
    flex-basis: 100%;
    background-color: var(--background);
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 1em;
    padding: 1em;
}
.browser > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    //height: 20em;
    background-color: var(--header);
}
.browser > div > video {
    width: 100%;
    height: auto;
}
.item {
//flex-basis: 100%;
}
.item > section {
    display: flex;
}
.item > section > div {
    height: auto;
}
.item > header {
    justify-content: flex-end;
}
footer {
    margin-top: auto;
}